*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* tolgo alle liste non ordinate in html il pallino */
  list-style: none;
}

/* ****************************************************************************************** */
/* *************************** ROBA VALIDA IN TUTTO IL DOCUMENTO **************************** */
/* ************************* O CHE SI RIPETE, FACILE DA RIPESCARE**************************** */
/* ******************************************************************************************* */

.clearfix{
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #33475b;
}

/* toglie l'underline dei link e gli restituisce il colore se cliccati*/
a {
  text-decoration: none;
  color: #33475b;
}

.titoloSezione{
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 10px;
}

.testoSezione{
  font-size: 16px;
  line-height: 1.8;
}

/* freccetta in giu */
.fas.fa-sort-down{
  font-size: 20px;
  padding-left: 4px;
  color: #7c98b6;
}

.bottoneArancioneGrande{
  background-color: #ff7a59;
  color: white;
  font-size: 18px;
  /* il primo valore indiga il padding top e bottom il secondo left e right */
  padding: 25px 40px;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 3px;
  margin-top: 22px;
}

.bottoneArancioneMedio{
  background-color: #ff7a59;
  color: white;
  font-size: 13px;
  /* il primo valore indiga il padding top e bottom il secondo left e right */
  padding: 12.5px 15px;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 3px;
}

/* ******************************************************************************************* */
/* ******************************** SEZIONE FIXED e Cerchietto FIXED ************************* */
/* ******************************************************************************************* */

.barraFissaTop{
  background-color: #f5f8fa;
  width: 100%;
  height: 84px;
  padding: 18px 275px;
  border-bottom: 1px solid #cbd6e2;;
  top: 0;
  left: 0;
  position: fixed;
  /* dico alla barra barraFissaTop di stare sopra a ogni elemento della pagina con valore z index minore di 99 */
  z-index: 99;
}

.traduzione{
  display: inline-block;
  margin-top: 10px;
}

/* gestisce il mappamondo */
.fas.fa-globe-europe{
  font-size: 23px;
  color: #33475b;
}

.linguaScelta{
  display: inline-block;
  padding-left: 8px;
  padding-right: 18px;
  border-right: 2px solid  #cbd6e2;
  /* debug */
  /* padding-top: 4px;
  padding-bottom: 4px; */
}

.contactSales{
  display: inline-block;
  padding-left: 18px;
  /* debug */
  /* padding-top: 4px;
  padding-bottom: 4px; */
}

/* gestisce la lente d'ingrandimento */
.fas.fa-search {
  padding-top: 4.5px;
  padding-right: 28px;
  font-size: 18px;
  color: #4ca2ba;
  /* unico modo funzionante per centrarlo verticalmente senza usare position?
  ma essendo un iconcina inline è un metodo valido credo: https://css-tricks.com/what-is-vertical-align/*/
  vertical-align: middle;
}

/* sposta a destra la lente d'ingrandimento e i 2 bottoni: login e get hubspot free */
.robaDestraBarraFixed{
  float: right;
  margin-right: 13px;
}

.bottoneLogin{
  background-color: white;
  color: #ff7a59;
  font-size: 13px;
  /* il primo valore indica il padding top e bottom il secondo left e right */
  padding: 14px 34px;
  margin-right: 9px;
  border-color: #ff7a59;
  border-radius: 4px;
}

.bottoneArancionePiccolo{
  background-color: #ff7a59;
  color: white;
  font-size: 13px;
  /* il primo valore indiga il padding top e bottom il secondo left e right */
  padding: 12.5px 15px;
  border-color: rgba(255, 0, 0, 0);
  border-radius: 3px;
}

/* ******************************************************************************************* */
/* ******************************** HEADER   *********************************** */
/* ******************************************************************************************* */

header{
  /* serve perché barraFissaTop è in position fixed e esce dal flusso , allontano l'header della sua altezza*/
  margin-top: 84px;
  /* imposto height, perché gli elementi al suo interno non bastano a impostare l'altezza giusta */
  height: 91px;
  /* se non aggiungo la width il clearfix sballa le dimensioni */
  width: 100%;
  padding-top: 30.5px;
  padding-bottom: 26px;
  padding-left: 280px;
  padding-right: 280px;
  background-color: white;
}

header a {
  float: left;
}

header nav{
  display: inline-block;
  /* background-color: red; */
  margin-top: 3px;
  float: right;
}

header nav ul li {
  display: inline-block;
  font-size: 17px;
  padding: 0 18px;
}

/* ******************************************************************************************* */
/* ******************************** SEZIONE SOTTO HEADER   *********************************** */
/* ******************************************************************************************* */

.sezioneSottoHeader{
  /* questa è l'altezza per contenere con le giuste proporzioni l'immagine di background */
  height: 750px;
  width: 100%;
  position: relative;
  /* necessario perché i figli di sezioneSottoHeader hanno position absolute
   e se non specificato coprono il position fixed */
  z-index: 1;
}

/* le successive 4 classi gestiscono lo sfondo che allunga dinamicamente l'immagine di background */
.rosaCieloLeft {
  height: 671px;
  width: 50%;
  background-color: #fdf2f0;
  border-bottom: 3.4px solid #3b455e;
  left: 0;
  position: absolute;
}

.rosaCieloRight {
  height: 604px;
  width: 50%;
  background-color: #fdf2f0;
  border-bottom: 3px solid #3b455e;
  left: 50%;
  position: absolute;
}

.pratoLeft {
  height: 79px;
  width: 50%;
  top: 671px;
  background-color: #b3e5e1;
  border-bottom: 3.4px solid #3b455e;
  left:0;
  position:absolute;
}

.pratoRight {
  height: 146px;
  width: 50%;
  background-color: #00a48d;
  border-bottom: 3px solid #3b455e;
  left: 50%;
  top: 604px;
  position: absolute;
}

/* Gestisce l'immagine di sfondo della sezione sotto l'header */
 .backgroundSottoHeader{
  width: 1240px;
  height: 100%;
  left: 23%;
  background-image: url(img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

/* Gestisce il Testo della  sezione sotto l'header */
.testoSovrappostoImmagine{
  width: 420px;
  top: 10%;
  left: 17%;
  position: absolute;
}

.testoSottoBottone{
  margin-top: 22px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8;
  width: 270px;
}
